@tailwind base;
@tailwind components;
@tailwind utilities;

.heading {
    @apply text-wise-blue font-bold text-3xl leading-5 tracking-tight text-center mb-4;
}

.sub-heading {
    @apply text-lg text-center font-medium text-wise-grey;
}

.title {
    @apply text-wise-blue text-xl font-semibold;
}

.paragraph {
    @apply text-wise-grey font-medium;
}

.btn {
    @apply shadow-md py-3 px-6 rounded-md transition duration-300 hover:bg-wise-white hover:text-black active:scale-95;
}

.btn-disabled {
    @apply py-3 px-6 rounded-md bg-gray-300 opacity-50 cursor-not-allowed;
}

.btn-options {
    @apply shadow-md py-3 px-6 transition duration-300 hover:bg-white hover:text-black bg-wise-white;
}

.btn-nav {
    @apply bg-wise-red text-white rounded-md;
}


.btn-nav-wallet {
    @apply bg-none text-wise-blue rounded-md border-2 border-wise-blue px-7 py-3 box-border;
}

.btn-purple {
    @apply bg-wise-purple text-white hover:bg-wise-white hover:text-black;
}

.btn-white {
    @apply bg-wise-white hover:bg-wise-purple hover:text-white;
}

.input {
    @apply border py-3 px-4 mb-2 text-wise-grey placeholder-wise-grey rounded-md focus:shadow-sm;
}

@keyframes ldio-hespw6hnyfe {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) }
  100% { transform: rotate(360deg) }
}
.ldio-hespw6hnyfe div {
  position: absolute;
  animation: ldio-hespw6hnyfe 1s linear infinite;
  width: 40px;
  height: 40px;
  top: 6px;
  left: 6px;
  border-radius: 50%;
  box-shadow: 0 2.6px 0 0 #737373;
  transform-origin: 20px ;
}
.loadingio-spinner-eclipse-k8slfveoyl {
  width: 41px;
  height: 41px;
  display: inline-block;
  overflow: hidden;
  background: rgba(NaN, NaN, NaN,0);
}
.ldio-hespw6hnyfe {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(0.81);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-hespw6hnyfe div { box-sizing: content-box; }
